# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= pk_test_YWxpdmUtbWFuYXRlZS0wLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY= sk_test_vRoe8PnX9NCYOSrForL5vQi1s08r2iquxUrwFyeuU6
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Clerk Webhook Secret (For syncing users to database)
CLERK_WEBHOOK_SECRET=

# Database (Supabase/PostgreSQL)
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL= postgresql://postgres.janbagkhgzlkajhrezoo:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
# Direct connection to the database. Used for migrations.
DIRECT_URL= postgresql://postgres.janbagkhgzlkajhrezoo:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres

# AI Integration (Hugging Face)
# Get a free access token from https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY=

# Payments (Stripe - Test Mode)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=

# Authorized Users (Unlimited Credits)
AUTHORIZED_USERS=developer@gmail.com,test@gmail.com
